@model IEnumerable<ProjetoLaboratorio.Models.PedidoModel>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <div class="col-auto">
            <h2>Pedido de Análises</h2>
        </div>
        <div class="col-auto">
            <a class="btn btn-success" asp-action="Create">Cadastrar Novo Pedido</a>
        </div>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CpfCnpjC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpjS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Analise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAnalise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            
            <th>
                    @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSaida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpjC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpjS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Analise.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAnalise.TipoAnalise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.DataSaida)
            </td>*@
            <td>
                    <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.PedidoId">Editar</a> |
                    <a class="btn btn-warning btn-sm" asp-action="Details" asp-route-id="@item.PedidoId">Detalhar</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.PedidoId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
