@model ProjetoLaboratorio.Models.RelatorioModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RelatorioModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAnalisesPorPeriodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAnalisesPorPeriodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorFinanceiroPorPeriodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorFinanceiroPorPeriodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRelatorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRelatorio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
