@model ProjetoLaboratorio.Models.FinanceiroModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FinanceiroModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedidos.CpfCnpjC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPagamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
