@model ProjetoLaboratorio.Models.ResultadoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResultadoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedido.CpfCnpjC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Laudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Laudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLaudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLaudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
