@model ProjetoLaboratorio.Models.ClienteModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Dados do Cliente</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CpfCnpjC)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.CpfCnpjC)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoPessoa)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TipoPessoa)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Nome)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Endereco)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cidade)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Cidade)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Estado)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Telefone)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Celular)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Celular)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InscEstRG)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.InscEstRG)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NomePropriedade)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.NomePropriedade)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Convenio)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Convenio.Nome)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DataCadastro)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.DataCadastro)
                    </td>
                </tr>
            </table>
        </div>
         <div class="col-md-6">
            <table class="table table-bordered table-light">
              </table>
        </div>
    </div>
</div>
<div class="text-left">
    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@Model?.CpfCnpjC">Editar</a>
    <a class="btn btn-primary btn-sm" asp-action="Index">Voltar</a>
</div>
